
@{
    ViewBag.Title = "Proprietaire_Info";
    Layout = "~/Views/Shared/_dashboardPropr.cshtml";
}
<div class="container Account_info">
    <div class="row">
        <h2> Account info </h2>
    </div>
    <div class="row  justify-content-start">
        <div class="col-md-5">
            <h4>Name :</h4>
            <p>iliass </p>
        </div>
        <div class="col-md-5">
            <h4>Phone :</h4>
            <p>+212 6235486755 </p>
        </div>
    </div>

    <div class="row  justify-content-start">
        <div class="col-md-5">
            <h4>E-mail :</h4>
            <p>iliass@gmail.com </p>
        </div>
        <div class="col-md-5">
            <h4>Adresse :</h4>
            <p>Maroc - Fes , rue oaris 270000 </p>
        </div>
    </div>
    <div class="row  justify-content-start">
        <div class="col-md-5">
            <h4>Descreption :</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloremque molestiae magni incidunt blanditiis reiciendis,
                magnam ex vel dolorem voluptate id ducimus.
            </p>
        </div>
    </div>



    <br />

    <div class="row  justify-content-start">
        <div class="col-md-5">
            <a href="~/Proprietaire/Update_Proprietaire_Info" class="btn btn-red"> Update info  </a>
        </div>

    </div>
</div>
