
@{
    ViewBag.Title = "Proprietaire_Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class=" Proprietaire_info">
    <div class="container ">
        <div class="row container-voiture">
            <div class="col-md-5 container-voiture-img">
                <div class="voiture-img"
                     style="
        background: url('../../Content/Images/Global/undraw_male_avatar_323b.png') bottom no-repeat;
        background-size: cover;
    ">
                </div>
            </div>
            <div class="col-md-6 voiture-content">
                <h2>ILiass El Aoufi</h2>

                <hr />
                <div class="voiture-caracter">
                    <p><span>Adresse :</span> fes   </p>
                    <p><span>Contact :</span> +212 623454879  </p>
                    <p>
                        <span>Descriptoin :</span><br />
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Doloremque molestiae magni incidunt blanditiis reiciendis,
                        magnam ex vel dolorem voluptate id ducimus. Placeat porro doloribus
                        cumque veniam hic atque quas maiores.
                    </p>
                </div>




            </div>
        </div>
    </div>
</section>

<section>

    <div class="container ">

        <br />
        <h2 style="text-align : center ; font-size : 2.2rem"> Nos Voitures  </h2>
        <br />
        <div class="row justify-content-lg-start">
            @for (int i = 0; i < 6; i++)
            {
                <div class=" col-3">
                    <div class="card card-product">
                        <div class="card-product-img"
                             style="background: url('../../Content/Images/Global/marvin-meyer-SYTO3xs06fU-unsplash(1).jpg') bottom no-repeat; background-size: cover; ">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Renute Cliot</h5>
                            <p class="card-text">
                                propriétaire : creatoore <br />
                                Casablanca
                            </p>

                            <a href="#" class="btn ">Voir plus <i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />



