
@model IEnumerable<ProjetASP.net.Models.Voiture_info>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">

        <br />
        <div class="row justify-content-start">
            @if (Model != null)
            {
                foreach (ProjetASP.net.Models.Voiture_info item in Model)
                {


                    <div class=" col-md-3">
                        @Html.Partial("_VoitureCard", item)
                    </div>
                }
            }
            else
            {
                <h3>vide</h3>
            }

        </div>
    </div>
</section>

