
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about">

    <div class="banner">
        <h2> A propos </h2>
    </div>

    <br />
    <br />
    <br />
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-5 bg-img">

            </div>
            <div class="col-md-5 content">
                <h2>Qui somme nous </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloremque molestiae magni incidunt blanditiis reiciendis,
                    magnam ex vel dolorem voluptate id ducimus. Placeat porro doloribus
                    cumque veniam hic atque quas maiores.
                    <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    umque veniam hic atque quas maiores.
                </p>

            </div>
        </div>
    </div>
</section>

